?xml version="1.0"?>
<configuration>
    <system.webserver>
    	<defaultDocument>
    		<files>
    			<add value="index.html"/>
    		</file>
    	</defaultDocument>
    	<staticContent>
    		<mimeMap fileExtension=".appcache" mimeType="text/cache-manifest"/>
    	</staticContent>
    </system.webserver>
</configuration>
